*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    height: 100vh;
}

.menu-list{
    display: flex;
    text-decoration: none;
}

.menu-list >li{

}

/* selecting multiple selectors and applying the same styling */
:is(header, .menu-list){
    display: flex;
    justify-content: space-between;
    margin-right: .2rem;

    & img[alt="logo"]{
        width: 5rem;
    }

    & li{
        margin-inline: 1rem;
    }
}